<div class="card" style="width: 18rem;">
    <img [src]="image" class="img-fluid rounded-start">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <div class="card-body">
        <button class="btn btn-outline-primary" type="button">Letöltés</button>
        <button class="btn btn-outline-primary" type="button">Keresés törlése</button>
    </div>
  </div>